.calendar {
  padding: 100px 0;
  margin-top: 26px;
}
.calendar__title {
  font-weight: 700;
  font-size: 35px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 129px;
}

.events {
  border: 6px solid #ac0a08;
  border-radius: 40px;
  max-width: 1170px;
  padding: 73px 72px 103px;
}
.events__number span:first-child {
  font-weight: 700;
  font-size: 96px;
  color: var(--dark-red);
  line-height: 87%;
}
.events__number span:last-child {
  font-weight: 400;
  font-size: 32px;
  color: var(--black);
  text-align: center;
  line-height: 167%;
  letter-spacing: 0.02em;
}
.events__title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 29px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  line-height: 138%;
}
.events__descr {
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  text-align: center;
  line-height: 167%;
  letter-spacing: 0.02em;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.events__link {
  margin-top: 39px;
  padding: 33px;
  border-radius: 20px;
  width: 578px;
  height: 106px;
  font-weight: 700;
  font-size: 35px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background-color: var(--dark-red);
}

.text {
  width: 90%;
  margin-top: 222px;
  font-weight: 700;
  font-size: 48px;
  line-height: 123%;
  letter-spacing: 0.06em;
  text-align: center;
}

@media (max-width: 1200px) {
  .events__descr {
    font-size: 22px;
  }
  .events__title {
    font-size: 27px;
    margin-bottom: 20px;
  }
  .text {
    margin-top: 200px;
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .events {
    padding: 53px 52px 73px;
  }
  .events__descr {
    font-size: 18px;
  }
  .events__title {
    font-size: 25px;
  }
  .events__link {
    width: 65%;
    height: 90px;
    font-size: 25px;
  }
  .calendar__title {
    font-size: 30px;
  }
  .text {
    font-size: 33px;
  }
}
@media (max-width: 768px) {
  .events {
    padding: 53px 52px 73px;
  }
  .events__descr {
    font-size: 18px;
  }
  .events__title {
    font-size: 24px;
  }
  .events__link {
    height: 80px;
    font-size: 22px;
  }
  .events__number span:first-child {
    font-size: 80px;
  }
  .events__number span:last-child {
    font-size: 28px;
  }
  .calendar__title {
    font-size: 24px;
  }
  .text {
    font-size: 28px;
  }
}
@media (max-width: 720px) {
  .events {
    padding: 33px 32px 53px;
  }
  .events__descr {
    font-size: 17px;
  }
  .events__link {
    padding: 30px;
    height: 70px;
    width: 70%;
    font-size: 20px;
    margin-top: 20px;
  }
  .events__title {
    font-size: 20px;
  }
  .text {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .events {
    padding: 33px 32px 53px;
  }
  .events__descr {
    font-size: 16px;
  }
  .events__link {
    font-size: 18px;
  }
  .events__title {
    font-size: 18px;
  }
  .events__number span:first-child {
    font-size: 67px;
  }
  .events__number span:last-child {
    font-size: 24px;
  }
  .text {
    font-size: 22px;
  }
}
@media (max-width: 520px) {
  .events {
    padding: 33px 32px 53px;
  }
  .events__link {
    padding: 27px;
    height: 60px;
    font-size: 16px;
    width: 85%;
  }
  .events__title {
    font-size: 18px;
  }
  .events__number span:first-child {
    font-size: 67px;
  }
  .events__number span:last-child {
    font-size: 24px;
  }
}