.practical {
  margin-top: 91px;
}
.practical__container {
  gap: 32px;
}
.practical__title {
  max-width: 1103px;
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
  text-align: center;
  line-height: 167%;
  letter-spacing: 0.02em;
  line-height: 167%;
  text-align: center;
  margin-bottom: 0;
}
.practical__img {
  width: 113px;
}
.practical__descr {
  font-weight: 300;
  font-size: 24px;
  color: var(--black);
  text-align: center;
  line-height: 167%;
  letter-spacing: 0.02em;
  line-height: 167%;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .practical__title, .practical__descr {
    width: 93%;
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .practical__title, .practical__descr {
    font-size: 20px;
  }
  .practical__img {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .practical__title, .practical__descr {
    font-size: 19px;
  }
}
@media (max-width: 576px) {
  .practical__img {
    width: 90px;
  }
}