.resources {
  margin-top: 52px;
  padding: 100px 0;
}
.resources__title {
  font-weight: 700;
  font-size: 35px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}
.resources__descr {
  margin-top: 28px;
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  text-align: center;
  line-height: 167%;
  letter-spacing: 0.02em;
}
.resources__link {
  margin-top: 79px;
  padding: 25px;
  border-radius: 20px;
  width: 643px;
  height: 106px;
  font-weight: 700;
  font-size: 35px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background-color: var(--dark-red);
}

@media (max-width: 1200px) {
  .resources__descr {
    font-size: 22px;
    width: 93%;
  }
}
@media (max-width: 992px) {
  .resources {
    margin-top: 0px;
  }
  .resources__title {
    font-size: 30px;
  }
  .resources__descr {
    font-size: 20px;
  }
  .resources__link {
    width: 70%;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .resources__title {
    font-size: 24px;
  }
  .resources__descr {
    font-size: 18px;
  }
  .resources__link {
    width: 90%;
    height: 80px;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .resources__title {
    font-size: 24px;
  }
  .resources__descr {
    font-size: 18px;
  }
  .resources__link {
    width: 100%;
    height: 80px;
    font-size: 20px;
  }
}