@import "mixins.scss";

.about {
  margin-top: 50px;
  &__title {
    @include title(700, 35px);
    margin-left: -15px;
    margin-bottom: 45px;
  }

  &__descr {
    @include text(400, 24px);
    width: 93%;
    margin: 0 auto;

    &--2 {
      margin-top: 90px;
    }
  }
}

.table>:not(caption)>*>* {
  background-color: transparent;
}

.table {
  @include grid_bg(40px);

  img {
    margin-bottom: 20px;
  }

  &__column {
    position: relative;
    padding: 87px 52px 60px;
  }

  &__column:first-child::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 90%;
    background-color: var(--dark-red);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }  

  &__title {
    @include title(700, 24px);
    margin-bottom: 45px;
  }

  &__descr {
    @include text(400, 23px);
    background: transparent;
    margin-bottom: 45px;
    line-height: 175%;

    span {
      display: block;
    }

    &--flex {
      gap: 43px;
    }
  }
}

@media (max-width: 1200px) {
  .about__title {
    font-size: 35px; 
  }

  .about__descr {
    font-size: 22px;
  }

  .table__column {
    padding: 60px 30px 40px; 
  }

  .table__descr {
    font-size: 22px;
    margin-bottom: 35px;
  }
}

@media (max-width: 992px) {
  .table {
    display: flex;
    flex-direction: column;
  }

  .table__title{
    margin-bottom: 20px;
  }

  .table__column {
    width: 95%;
    margin: 0 auto; 
    padding: 40px 30px;
  }

  .table__column:first-child::after {
    position: absolute;
    height: 3px;
    width: 90%;
    bottom: 0px;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
  }
  
  .about__descr {
    font-size: 19px;
  }

  .about__title{
    font-size: 30px;
  }

  .table__descr {
    font-size: 19px;
    line-height: 160%;
    margin-bottom: 20px;
    &--flex{
      gap: 0;
    }
  }
}

@media (max-width: 768px) {
  .about__title {
    font-size: 24px;
    margin-left: 0;
  }

  .about__descr {
    font-size: 18px;
    width: 90%;
  }

  .table__column {
    padding: 30px 15px 20px;
  }

  .table__descr {
    line-height: 150%;
    font-size: 18px;
  }
}

// Адаптивные стили для экрана до 576px
@media (max-width: 576px) {

  .table {
    &__column {
      margin: 0 auto 20px; 
      padding: 20px 10px;
    }

    img{
      width: 100px;
    }
  }
}