@import "mixins.scss";

.education {
  @include grid_bg(113px);
  padding: 48px 0 79px;

  &__title {
    @include title(700, 35px);
  }

  .list {
    margin-top: 71px;
    padding: 0;

    &__column {
      padding: 0 30px;

      &:not(:last-child) {
        border-right: 2px solid var(--dark-red);
      }
    }

    &__title {
      @include title(700, 27px);
      line-height: 148%;
      margin: 0;
    }

    &__icon {
      margin-top: 17px;
      margin-bottom: 37px;

      &--1 {
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }

    &__descr {
      @include text(400, 24px);
      line-height: 150%;
      margin: 0;

      &--2 {
        margin-top: 50px;
      }

      &--3 {
        margin-top: 50px;
      }
    }
  }
}
