@import "mixins.scss";

.practical {
  margin-top: 91px;

  &__container {
    gap: 32px;
  }

  &__title {
    max-width: 1103px;
    @include text(700, 24px);
    line-height: 167%;
    text-align: center;
    margin-bottom: 0;
  }

  &__img {
    width: 113px;
  }

  &__descr {
    @include text(300, 24px);
    line-height: 167%;
    text-align: center;
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .practical{
    &__title, &__descr{
      width: 93%;
      font-size: 22px;
    }
  }
}

@media (max-width: 992px) {
  .practical{
    &__title, &__descr{
      font-size: 20px;
    }
    &__img{
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .practical{
    &__title, &__descr{
      font-size: 19px;
    }
  }
}

@media (max-width: 576px) {
  .practical{
    &__img{
      width: 90px;
    }
  }
}


