@import "mixins.scss";

.resources {
  margin-top: 52px;
  padding: 100px 0;

  &__title {
    @include title(700, 35px)
  }

  &__descr {
    margin-top: 28px;
    @include text(400, 24px)
  }

  &__link {
    margin-top: 79px;
    padding: 25px;
    border-radius: 20px;
    width: 643px;
    height: 106px;
    @include title(700, 35px);
    color: var(--white);
    background-color: var(--dark-red);
  }
}


@media (max-width: 1200px) {
  .resources{
    &__descr{
      font-size: 22px;
      width: 93%;
    }
  }
}

@media (max-width: 992px) {
  .resources{
    margin-top: 0px;
    &__title{
      font-size: 30px;
    }

    &__descr{
      font-size: 20px;
    }

    &__link{
      width: 70%;
      font-size: 30px;
    }
  }
}

@media (max-width: 768px) {
  .resources{
    &__title{
      font-size: 24px;
    }

    &__descr{
      font-size: 18px;
    }

    &__link{
      width: 90%;
      height: 80px;
      font-size: 24px;
    }
  }
}

@media (max-width: 576px) {
  .resources{
    &__title{
      font-size: 24px;
    }

    &__descr{
      font-size: 18px;
    }

    &__link{
      width: 100%;
      height: 80px;
      font-size: 20px;
    }
  }
}
